@import "../colors.scss";
@import "../mixins.scss";

.workHereWrapper {
  margin-top: 120px;
}

.workeHereImages {
  @include flex($justifyContent: space-evenly);
  gap: 66px;
  margin-top: 42px;
}

.outHereTitle {
  @include title;
}

.outHereSubTitle {
  @include descr;
}
