$main-text: #424551;
$text-title: #1e212c;
$text-white: #ffffff;
$color-white: #fff;
$color-black: #000;
$color-light-red: #ff3f3a;
$footer-bg: #1e212c;
$bright-orange: #f75e05;

$brend-orange-gradient: linear-gradient(55.95deg, #ff3f3a 0%, #f75e05 100%);
